<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NSURLSessionB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>65577B8F1D878DF900C4167D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65577BA61D878DF900C4167D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65577BB11D878DF900C4167D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
